body{
    font-family: "Open Sans", Arial, sans-serif !important;
}
#primary-menu ul ul li > a{
    font-family: "Open Sans", Arial, sans-serif !important;
}
/*#primary-menu.style-4 > ul > li > a{
    margin-bottom: 0 !important;
}
.bottommargin-sm{
    margin-bottom:10px !important;
}
.travel-organiser-tabs .tab-container{
    padding-top:20px !important;
    padding-bottom:20px !important;
}
#top-bar{
    padding-top:10px !important;
    background:#FFF !important;
    height:65px !important;
}*/
#top-bar{
    z-index: 999;
}
.dark #top-social li a {
    color: #336699 !important;
}
#top-social li a:hover{
    color: #FFF !important;
}
/*#header, #header-wrap, #logo img{
    height:45px !important;
}
#primary-menu{
    float:left !important;
}*/
.dark #primary-menu:not(.not-dark) ul ul, .dark #primary-menu:not(.not-dark) ul li .mega-menu-content, #primary-menu.dark ul ul, #primary-menu.dark ul li .mega-menu-content{
    background-color: #FFF !important;
    color: #333 !important;
    /*border-color: #FFF !important;
    border-top: 1px solid #AC4147;
    border-bottom: 1px solid #AC4147;*/
}
.dark #primary-menu:not(.not-dark) ul ul li:hover > a,
#primary-menu.dark ul ul li:hover > a {
    background-color: rgba(0,0,0,0.1);
    color: #333 !important;
}
.skin-red .sidebar-form input[type="text"], .skin-red .sidebar-form .btn{
    background-color: #FFF;
}
.flex-control-nav.flex-control-thumbs li, .flex-control-nav.flex-control-thumbs li img{
    width: 50px !important;
    height: 50px !important;
}
.slogan-1 .col-md-3{
    text-align:center !important;
}
.product-title h3{
    font-size:14px;
    text-transform: none;
    font-family: "Open Sans", Arial, sans-serif !important;
}
.genel-sartlar-edit table{
    width:100% !important;
}

.gezi-programi-icerik img{
	display:none !important;
}
@media (min-width: 1350px) {
    .vertical-middle{
        top:50% !important;
    }
}
@media (max-width: 1350px) {
    .vertical-middle{
        top:57% !important;
    }
}
